
.ui.basic.segment.menu {
    border-bottom: solid 1px;
    border-color: rgb(201, 201, 201);
    position: relative;
    margin: 0;
    padding: 3px 0 3px 0;
}

.ui.basic.segment.menu > .ui.text.menu {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.ui.text.menu > .item {
    margin-left: 30px;
    margin-right: 30px;
}

.ui.basic.segment > .ui.header {
    margin-bottom: 0;
}

.ui.basic.segment > .sub.header {
    margin-bottom: 0;
    color: rgb(140, 140, 140);
}

.ui.inverted.menu .item > a {
    color: black;
}
