{% extends 'l7h2.html' %}
{% load staticfiles %}
{% load yesno_tag %}
{% block css %}
    <link rel="stylesheet" href="{% static 'l8h2.css' %}">
{% endblock %}
{% block content %}
<div class="ui basic segment content">
    <div class="article">
        <h1 class="ui header">{{ article.header }}</h1>
        <p class="sub header">
            <i class="ui calendar icon"></i>{{ article.put_time }} |
            <i class="ui unhide icon"></i>{{ article.click_rate }} |
            <i class="ui checkmark box icon"></i>{{ got_it }} people got it
        </p>
        <img src="/upload/{{ article.img }}" alt="">
        <p>
            {{ article.content }}
        </p>
        <div class="ui text menu">
            {% if pre %}
                <a href="{% url 'detail' pre request.path|yesno_tag:article.tag %}" class="item">上一篇</a>
            {% else %}
                <a href="#" class="item">没有上一篇啦</a>
            {% endif %}

            {% if nex %}
                <a href="{% url 'detail' nex request.path|yesno_tag:article.tag %}" class="right item">下一篇</a>
            {% else %}
                <a href="#" class="item">没有下一篇啦</a>
            {% endif %}

        </div>
        <div class="ui divider"></div>

        {% if collector %}
            <div class="ui mini horizontal statistic">
                <div class="valu">
                    {{ collector|length }}
                </div>
                <div class="label">
                    收藏
                </div>
            </div>
            <div>
                {% for i in collector %}
                    {% if forloop.counter > 30 %}
                        {% if i.profile_image %}
                        <img class="ui avatar image over transition hidden" src="/upload/{{ i.profile_image }}">
                            <span class="over transition hidden">{{ i }}</span>
                        {% else %}
                        <img class="ui avatar image over transition hidden" src="{% static 'images/back.jpeg' %}">
                            <span class="over transition hidden">{{ i }}</span>
                        {% endif %}
                    {% else %}
                        {% if i.profile_image %}
                        <img class="ui avatar image" src="/upload/{{ i.profile_image }}"> <span>{{ i }}</span>
                        {% else %}
                        <img class="ui avatar image" src="{% static 'images/back.jpeg' %}"> <span>{{ i }}</span>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if collector|length > 30 %}
                    <a id="click">查看更多</a>
                {% endif %}
            </div>
        {% endif %}


        <form class="ui text menu" action="{% url 'detail_voter' article.id request.path|yesno_tag:article.tag %}" method="post" >
            {% csrf_token %}
            {% if ticket.vote == 'like' %}
            <div class="item">
                <button type="submit" name="vote" class="ui red button" value="like">
                    <i class="ui checkmark icon"></i>Got it
                </button>
            </div>
            {% else %}
                <div class="item">
                    <button type="submit" name="vote" class="ui grey button" value="like">
                        <i class="ui checkmark icon"></i>Got it
                    </button>
                </div>
            {% endif %}
            {% if ticket.vote == 'normal' %}
            <div class="item">
                <button type="submit" name="vote" class="ui red button" value="normal">I see...</button>
            </div>
            {% else %}
                <div class="item">
                    <button type="submit" name="vote" class="ui grey button" value="normal">I see...</button>
                </div>
            {% endif %}
            {% if ticket.vote == 'dislike' %}
                <div class="item">
                    <button type="submit" name="vote" class="ui red button" value="dislike">Hmmmm</button>
                </div>
            {% else %}
                <div class="item">
                    <button type="submit" name="vote" class="ui grey button" value="dislike">Hmmmm</button>
                </div>
            {% endif %}

            {% if collected %}
                <div class="right menu">
                    <div class="item">
                        <button type="submit" name="collect" value="T" class="ui primary circular button"><i class="ui download icon"></i>Saved</button>
                    </div>
                </div>
            {% else %}
                <div class="right menu">
                    <div class="item">
                        <button type="submit" name="collect" value="T" class="ui black circular button"><i class="ui download icon"></i>Saved</button>
                    </div>
                </div>
            {% endif %}

        </form>

        <h4 class="ui horizontal divider header">COMMENT</h4>

        {% for comment in article.comments.all %}
            <img class="ui left floated rounded image" src="{% static 'images/back.jpeg' %}" alt="" >
            <span class="ui header comment">{{ comment.name }}</span>
            <span class="sub header comment">2 days ago</span>

            <p>
                {{ comment.comment }}
            </p>
        {% endfor %}

        <div class="ui divider">

        </div>
        <form class="ui error tiny form" action="{% url 'comment_post' article.id request.path|yesno_tag:article.tag %}" method="post">
            {% if form.errors %}

                <div class="ui error message">
                    {{ form.errors }}
                </div>
                {% for field in form %}
                    <div class="{{ field.errors|yesno:'error ,' }}field">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}

            {% else %}

                {% for field in form %}
                    <div class="field">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}

            {% endif %}

            {% csrf_token %}
            <button type="submit" name="button" class="ui blue button">Click</button>
        </form>
    </div>
</div>
    <script type="text/javascript">
        $("#click").click(function(event) {
            $(this).hide();
            $('.over').transition('scale');
        });
    </script>
{% endblock %}
